body {
    padding:0;
    margin:0;
    background-color:#333333;
    font-family:monospace;
}

#container {
    /* css that effects the container holding main. */
    display:flex;
    justify-content:center;
    align-items:center;
}
